<!-- /* NO CASO DE QQR MUDANÇA NO CÓDIGO, COMENTE O CÓDIGO ANTIGO */ -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Flyer </title>
    <!-- ESTILOS -->
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="/Flyer-II/styles/index.css">
    <!-- GOOGLE ICONS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
</head>
<body> 
    <!-- BARRA SUPERIOR DEFAULT -->

    <div id="header">
        <div class="logo-container">
            <button id="btn-close"  style="display: none;" >
                <span class="material-icons">arrow_back</span></button>
            <button id="btn-show">
                <span class="material-icons">add</span>
            </button>
            <img class="logo" src="/images/flyer-icon.png" alt="logo">
        </div>
        <div>
            <button id="btn-map"><span class="material-icons">map</span></button>
            <button id="btn-list"><span class="material-icons">view_list</span></button>
        </div>
        <div class="search-input">
            <button id="btn-gps"><span class="material-icons">gps_fixed</span></button>
            <input type="text" class="text-input" placeholder="  digite o endereço, palavra chave.....">
            <button id="btn-search"><span class="material-icons">search</span></button>
        </div>
        <div class="header-options">
            <button id="btn-home"><span class="material-icons">home</span></button>
            <button id="btn-fav"><span class="material-icons">star_rate</span></button>
            <button id="btn-promo"><span class="material-icons">campaign</span></button>
            <button id="btn-config"><span class="material-icons">settings</span></button>
        </div>
        
    </div>
     <!-- FILTROS DE PESQUISA -->

    <nav id="filters-menu">
        <ul>
            <li>
                <div class="filters">
                    <span class="material-icons">local_dining</span>
                    Gastronomia <span class="material-icons">keyboard_arrow_right</span>
                </div>
                <ul class="sub-filters">
                    <li>Bares<span class="material-icons">sports_bar</span></li>
                    <li>Restaurantes<span class="material-icons">restaurant</span></li>
                    <li>Lanchonetes<span class="material-icons">fastfood</span></li>
                    <li>Cafés/Padarias<span class="material-icons">local_cafe</span></li>
                    <li>Confeitarias<span class="material-icons">cake</span></li>
                    <li>Bombonieres<span class="material-icons">local_pizza</span></li>
                    <li>Adegas<span class="material-icons">local_bar</span></li>
                </ul>
            </li>
            <li>
                <div class="filters">
                    <span class="material-icons">engineering</span>
                    Serviços<span class="material-icons">keyboard_arrow_right</span>
                </div>
                <ul class="sub-filters">
                    <li>Gerais<span class="material-icons">build</span></li>
                    <li>Elétricos<span class="material-icons">electrical_services</span></li>
                    <li>Eletrônicos<span class="material-icons">phonelink</span></li>
                    <li>Mecânicos<span class="material-icons">directions_car</span></li>
                    <li>Marcenaria<span class="material-icons">carpenter</span></li>
                    <li>Serralheria<span class="material-icons">circle</span></li>
                </ul>
            </li>
            <li>
                <div class="filters">
                    <span class="material-icons">local_grocery_store</span>
                    Mercados<span class="material-icons">keyboard_arrow_right</span>
                </div>
                <ul class="sub-filters">
                    <li>Locais<span class="material-icons">gps_not_fixed</span></li>
                    <li>Açougues<span class="material-icons">business_center</span></li>
                    <li>Hortifruti<span class="material-icons">local_florist</span></li>
                    <li>Pet-Shop<span class="material-icons">pets</span></li>
                    <li>Atacado<span class="material-icons">business</span></li>
                    <li>Conveniência<span class="material-icons">local_convenience_store</span></li>
                </ul>
            </li>
            <li>
                <div class="filters">
                    <span class="material-icons">checkroom</span>
                    Vestuário<span class="material-icons">keyboard_arrow_right</span>
                </div>
                <ul class="sub-filters">
                    <li>Casuais<span class="material-icons">shopping_bag</span></li>
                    <li>Formais<span class="material-icons">local_mall</span></li>
                    <li>Infantil<span class="material-icons">face</span></li>
                    <li>Aluguel<span class="material-icons">monetization_on</span></li>
                    <li>Fantasias<span class="material-icons">star_outline</span></li>
                    <li>Cama/Mesa/Banho<span class="material-icons">weekend</span></li>
                </ul>
            </li>
            <li>
                <div class="filters">
                    <span class="material-icons">self_improvement</span>
                    Saúde/Cuidados<span class="material-icons">keyboard_arrow_right</span>
                </div>
                <ul class="sub-filters">
                    <li>Farmácias<span class="material-icons">local_pharmacy</span></li>
                    <li>Perfumarias<span class="material-icons">filter_vintage</span></li>
                    <li>Corte/Cabelo<span class="material-icons">content_cut</span></li>
                    <li>Academias<span class="material-icons">fitness_center</span></li>
                    <li>Spa's<span class="material-icons">spa</span></li>
                    <li>Consultórios<span class="material-icons">medical_services</span></li>
                </ul>
            </li>
            <li>
                <div class="filters">
                    <span class="material-icons">local_library</span>
                    Cultura/Lazer<span class="material-icons">keyboard_arrow_right</span>
                </div>
                <ul class="sub-filters">
                    <li>Teatro<span class="material-icons">account_balance</span></li>
                    <li>Cinemas<span class="material-icons">movie_filter</span></li>
                    <li>Exposições<span class="material-icons">storefront</span></li>
                    <li>Parques<span class="material-icons">nature_people</span></li>
                    <li>Clubes<span class="material-icons">connect_without_contact</span></li>
                    <li>Eventos<span class="material-icons">local_activity</span></li>
                </ul>
            </li>
            <li>
                <div class="filters" onclick="">
                    <span class="material-icons">handyman</span>
                    Utilidades<span class="material-icons">keyboard_arrow_right</span>
                </div>
                <ul class="sub-filters">
                    <li>Utensílios<span class="material-icons">shopping_basket</span></li>
                    <li>Chaveiros<span class="material-icons">vpn_key</span></li>
                    <li>Descartáveis<span class="material-icons">loop</span></li>
                    <li>Papelarias<span class="material-icons">description</span></li>
                    <li>Costura<span class="material-icons">gesture</span></li>
                    <li>Ferragens<span class="material-icons">build_circle</span></li>
                </ul>
            </li>
        </ul>
    </nav>

    <!-- MEU SCRIPT -->

    <script src="/Flyer-II/scripts/index.js"></script>

    <!-- PAGINA DE NAVEGAÇÃO -->

    <div class="navigation">
        <div>
            <div id=main-map>
                <h5>M A P</h5>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14628.280182723382!2d-46.5403904!3d-23.56592765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1604549176232!5m2!1spt-BR!2sbr" width="100%" height="420" frameborder="0" style="border:0;" aria-hidden="false" tabindex="0"></iframe>
            </div>
    
            <div id="details" >
                <h5>D E T A I L S</h5>
                <iframe src="" frameborder="0" width="100%" height="100%" ></iframe>
            </div>
        </div>

        <div id="list">
            <h5>L I S T</h5>
            <iframe src="" frameborder="0"  width="100%" height="100%"></iframe>
        </div>
    </div>    

</body>
</html>