<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Bussines | Flyer</title>
    <link rel="stylesheet" href="/styles/list-card.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
</head>
</head>
<body>
    <div id="profile-data">
        <div id="profile-info">
            <div id="profile-header">
                <h3>NOME DO LOCAL <span class="material-icons">verified</span> </h3>
                <p>Descrição do seu negócio, produtos e ou serviços que oferece.</p>

                <div><strong>Endereço: </strong></div>
                <div><strong>Horário: </strong></div>
                <div><strong>Contato: </strong></div>

                <span class="material-icons">location_on</span>
                <label for="material-icons">5 km</label>
                <span class="material-icons">thumb_up_alt</span>
                <label for="">like</label>
                <span class="material-icons">star_rate</span>
                <label for="">fav</label>
                <span class="material-icons">share</span>
                <label for="material-icons">share</label>
            </div>
            <img src="/images/flyer-icon.png" alt="acc-logo">
        </div>
        <div id="profile-info">
            <div id="profile-header">
                <h3>NOME DO LOCAL <span class="material-icons">verified</span> </h3>
                <p>Descrição do seu negócio, produtos e ou serviços que oferece.</p>

                <div><strong>Endereço: </strong></div>
                <div><strong>Horário: </strong></div>
                <div><strong>Contato: </strong></div>

                <span class="material-icons">location_on</span>
                <label for="material-icons">5 km</label>
                <span class="material-icons">thumb_up_alt</span>
                <label for="">like</label>
                <span class="material-icons">star_rate</span>
                <label for="">fav</label>
                <span class="material-icons">share</span>
                <label for="material-icons">share</label>
            </div>
            <img src="/images/flyer-icon.png" alt="acc-logo">
        </div>
        <div id="profile-info">
            <div id="profile-header">
                <h3>NOME DO LOCAL <span class="material-icons">verified</span> </h3>
                <p>Descrição do seu negócio, produtos e ou serviços que oferece.</p>

                <div><strong>Endereço: </strong></div>
                <div><strong>Horário: </strong></div>
                <div><strong>Contato: </strong></div>

                <span class="material-icons">location_on</span>
                <label for="material-icons">5 km</label>
                <span class="material-icons">thumb_up_alt</span>
                <label for="">like</label>
                <span class="material-icons">star_rate</span>
                <label for="">fav</label>
                <span class="material-icons">share</span>
                <label for="material-icons">share</label>
            </div>
            <img src="/images/flyer-icon.png" alt="acc-logo">
        </div>
</body>
</html>