<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-in Flyer</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/login-page.css">
</head>
<body>
    <div class="login-container">
        <img src="/images/flyer-icon.png" alt="logo">
        <h6>Entrar:</h6>
        <input type="text" placeholder="Usuário" >
        <input type="text" placeholder="Senha">
        <button>Entrar</button>
        <div>
            <h6>Entrar com:</h6>
            <a href="">Face</a>
            <a href="">Gmail</a>
            <a href="">insta</a>
        </div>
        <h6>Cadastre-se:</h6>
        <button>Cadastro</button>

    </div>
</body>
</html>