<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation</title>
    <link rel="stylesheet" href="/styles/navigation.css">
    <link rel="stylesheet" href="/styles/index.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
</head>
<body>
    <!-- PAGINA DE NAVEGAÇÃO DEFAULT -->
    <div class="navigation">  
        <div>
            <div id=main-map>
                <h5>M A P</h5>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14628.280182723382!2d-46.5403904!3d-23.56592765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1604549176232!5m2!1spt-BR!2sbr" width="100%" height="420" frameborder="0" style="border:0;" aria-hidden="false" tabindex="0"></iframe>
            </div>

            <div id="details" >
                <h5>D E T A I L S</h5>
                <iframe src="" frameborder="0" width="100%" height="100%" ></iframe>
            </div>
        </div>

        <div id="list">
            <h5>L I S T</h5>
            <iframe src="" frameborder="0"  width="100%" height="100vh"></iframe>
        </div>
    </div>
</body>
</html>