<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/navigation.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>
<body>
    <!-- PAGINA DE NAVEGAÇÃO DEFAULT -->
    <div class="navigation">
        <div class="left-sector">
            <h5>M A P</h5>
            <nav class="map-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14628.280182723382!2d-46.5403904!3d-23.56592765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1604549176232!5m2!1spt-BR!2sbr" width="100%" height="420" frameborder="0" style="border:0;" aria-hidden="false" tabindex="0"></iframe>
            </nav>
            <h5>D E T A I L S</h5>
            <nav class="acc-container">
                <ul>
                    <li>
                        <div class="acc-card">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14628.280182723382!2d-46.5403904!3d-23.56592765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1604549176232!5m2!1spt-BR!2sbr" width="200px" height="200px" frameborder="0" style="border:o;" aria-hidden="false" tabindex="0"></iframe>
                            <img src="https://listanacional.com.br/uploads/clientes/padaria-sao-braz-18882-1.jpg" alt="acc-logo" width="160px" height="160px">
                            <div>
                                <h2>Nome / Marca</h2>
                                <p>
                                    Horarios: xh às xh <br>
                                    Local: Rua  Valença do Minho, 000 <br><br>
                                    Breve descrição ou propaganda chamado para o cliente.
                                </p>
                                <div>
                                    <span class="material-icons">location_on</span>
                                    <label for="">5 km</label>
                                    <span class="material-icons">thumb_up_alt</span>
                                    <label for="">like</label>
                                    <span class="material-icons">star_rate</span>
                                    <label for="">fav</label>
                                    <span class="material-icons">verified_user</span>
                                    <label for="">verified</label>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="right-sector">
            <h5>L I S T</h5>
            <nav class="list-container">
                <ul>
                    <li>
                        <div class="list-item">
                            <img src="https://pbs.twimg.com/media/D-QH4RkXsAc3Xxc.png" alt="acc-logo">
                            <div>
                                <h3>Mister Lanches</h3>
                                <p> <br> Horários: 15h às 00h <br>
                                Local: Rua Hermes e Renato 000 </p>
                                <span class="material-icons">share</span>
                                <label for="material-icons">share</label>
                                <span class="material-icons">location_on</span>
                                <label for="material-icons">5 km</label>
                                <span class="material-icons">verified_user</span>
                                <label for="material-icons">verified</label>
                            </div>                            
                        </div>
                    </li>
                   
                </ul>
            </nav>
        </div>
    </div>
</body>
</html>