<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Flyer</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/page-landing.css">
</head>
<body>
    <main>
        <div class="upper-container">
            <img src="/images/flyer-icon.png" alt="logo">
            <div>
                <h2>BEM VINDO AO FLYER! </h2>
                <h3><br>Aqui você pode divulgar seu negócio e pesquisar por locais em sua região.
                    <br>Ajude os comércios locais e conheça os serviços à sua volta.
                    <br><br>Entre ou faça seu cadastro e comece a navegar.
                </h3>
            </div>
        </div>
        <div class="landing-container">
            <div class="propaganda">
                <img src="/images/phonehand.png" alt="marketing">              
            </div>
            <div class="propaganda">
                <img src="/images/phonehand.png" alt="marketing">              
            </div>
            <div class="sign-container">
                <button> <a href="">Cadastro</a> </button>
                <button>Entrar</button>
            </div>
            
        </div>
    </main>
    
</body>
</html>