<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Bussines | Flyer</title>
<!--     <link rel="stylesheet" href="/styles/main.css"> -->
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/profile-acc.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="profile-info">
        <img src="/images/flyer-icon.png" alt="">
        <h2>NOME DO LOCAL</h2>
        <div>
            <p> <strong>Descrição</strong><br>
            Breve descrição do seu negócio.
            </p>
        </div>
        <div>
            <span class="material-icons">location_on</span>
            <label for="material-icons">5 km</label>
            <span class="material-icons">thumb_up_alt</span>
            <label for="">like</label>
            <span class="material-icons">star_rate</span>
            <label for="">fav</label>
            <span class="material-icons">share</span>
            <label for="material-icons">share</label>
            <span class="material-icons">verified_user</span>
            <label for="">verified</label>
        </div>
    </div>
    <h4>Meus Flyers</h4> <!-- ALINHAR -->
    <div class="profile-banner">
        <img src="/images/folheto.jpg" alt="">
        <img src="/images/folheto.jpg" alt="">
        <img src="/images/folheto.jpg" alt="">
        <img src="/images/folheto.jpg" alt="">
    </div>
    <h4>Venha nos conhecer!</h4><!-- ALINHAR -->
    <div class="profile-content">
        <div class="profile-media">
            fotos e videos do local
        </div>
        <div class="profile-location">
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14628.280182723382!2d-46.5403904!3d-23.56592765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1604549176232!5m2!1spt-BR!2sbr" width="400px" height="200px" frameborder="0" style="border:o;" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div><strong>Endereço: </strong></div>
            <div><strong>Horário: </strong></div>
            <div><strong>Contato: </strong></div>
        </div>
    </div>
    <div class="footer">
    </div>
</body>
</html>