<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar | Flyer</title>
    <link rel="stylesheet" href="/styles/sign-page.css">
</head>
<body>
    <div class="container">
        <img src="/images/flyer-icon.png" alt="logo">
        <strong>Entrar:</strong>
        <input type="text" placeholder="E-mail" >
        <input type="password" placeholder="Senha">
        <a class="a_btn" href="/views/index.html"><strong>Entrar</strong></a> 
        <strong>Entrar com:</strong>
        <div class="social_media">
            <div> <a href="https://pt-br.facebook.com/">Facebook</a> </div>
            <div> <a href="https://accounts.google.com">Google</a> </div>
            <div> <a href="https://www.instagram.com/accounts/login/?hl=pt-br">Instagram</a> </div>
        </div>
        <strong>Cadastre-se:</strong>
        <a class="a_btn" href="/views/sign-up-page.html"><strong>Cadastro</strong></a> 

    </div>
</body>
</html>