<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se | Flyer</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/sign-page.css">
</head>
<body>
    <div class="container">
        <img src="/images/flyer-icon.png" alt="logo">
        <strong>Cadastre-se: </strong>
        <strong>E-mail</strong>
        <input type="text" placeholder="E-mail">
        <strong>Senha</strong>
        <input type="password" placeholder="Senha">
        <strong>Confirmar senha</strong>
        <input type="password" placeholder="Senha">
        <strong>Cadastre-se com sua conta: </strong>
        <div class="social_media">
            <div> <a href="https://pt-br.facebook.com/">Facebook</a> </div>
            <div> <a href="https://accounts.google.com">Google</a> </div>
            <div> <a href="https://www.instagram.com/accounts/login/?hl=pt-br">Instagram</a> </div>
        </div>
        <a class="a_btn" href="/views/sign-in-page.html"><strong>Cadastrar</strong></a> 
    </div>
    
</body>
</html>