<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se Flyer</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/signup-page.css">
</head>
<body>
    <div class="container">
        <img src="/images/flyer-icon.png" alt="logo">
        <h3>Cadastre-se: </h3>
        <label for="">E-mail</label>
        <input type="text">
        <label for="">Senha</label>
        <input type="password">
        <label for="">Confirmar Senha</label>
        <input type="password">
        <button>Cadastrar</button>
    </div>
    
</body>
</html>