* {
    border: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#html,
#body {
    width: 100vw;
    height: 100vh;
}

button {
    width: 3vw;
    height: 3vw;
    margin: 1vw;
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;
    color: silver;
}

ul {
    list-style: none;
    padding-left: .75vw;
    padding-right: .75vw;
}

img {
    width: 4vw;
    height: 4vw;
    border: 3px solid white;
    border-radius: 50%;
}

.logo-container {
    width: 10vw;
    display: flex;
    align-items: center;
}

#header {
    width: 100%;
    min-height: 10vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #445;
}

.search-input {
    width: 50vw;
    display: flex;
    align-items: center;
}

.search-input #text-input {
    width: 40vw;
    min-height: 6.6vh;
    padding-left: 10px;
    font-size: 2vh;
    color: whitesmoke;
    background-color: #556;
}
.search-input #btn-search {
    border-radius: 0;
    margin: 0;
    width: 4vw;
    min-height: 3vh;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #556;
}
.search-input #btn-gps {
    border-radius: 0px;
    margin: 0px;
    width: 4vw;
    min-height: 3vh;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #556;
}

.header-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#filters-menu {
    position: absolute;
    display: none;
    top: 10vh;
    width: 20vw;
    height: 100vh;
    border-top: 2px solid silver;
    color: silver;
    background-color: #445;
}

#filters-menu ul li .filters {
    line-height: 7vh;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid;
}

#filters-menu ul .sub-filters {
    display: none;
}

#filters-menu ul ul li{
    line-height: 6vh;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid;
}

.filters:hover,
.sub-filters li:hover {
    color: whitesmoke;
    font-weight: bold;
}

.material-icons.md{
    font-size: 1.8vw;
}