/* NO CASO DE QQR MUDANÇA NO CÓDIGO, COMENTE O CÓDIGO ANTIGO */

* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#html,
body {
    width: 100vw;
    height: 100vh;
    background-color: #555;
}
label {
    font-size: 10px;
    text-align: center;
    color: white;
}
/* BARRA SUPERIOR DEFAULT */
#default-upper-bar {
    width: 100%;
    display: inline-flex;
    align-items: center;
    background-color:#224;
}
/* LOGOTIPO */
#logo-container {
    display: flex;
    position: relative;
    width: 20%;
}
#logo-container img,
.filters-title img {
    position: relative;
    display: block;
    margin: 5px;
    width: 50px;
    left: 60px;
    border: 2px solid white;
    border-radius: 12px;
}
/* ACIONA MENU DE FILTROS */
.btn-show,
.btn-close {
    display: grid;
    position: relative;
    top: 5px;
    left: 10px;
    height: 50px;
}
.btn-show span,
.btn-close span {
    color: white;
    position: relative;
    cursor: pointer;
    font-size: 45px;
}
.btn-show span:hover,
.btn-close span:hover {
    color: cornflowerblue;
    transition: 0.4s;
}
/* BARRA DE OPÇÕES DE BUSCA */
#search-input {
    position: relative;
    display: flex;
    align-items: center;
    width: 60%;
}
#search-input .search-option,
#search-input .input-option,
#profile-options {
    position: relative;
    text-decoration: none;
}
#search-input .search-option button:hover,
#search-input .input-option  button:hover,
#search-input .input-option .text-input:hover,
#profile-options button:hover {
    background-color: #444;
    transition: 0.3s;
}
#search-input .search-option {
    position: relative;
    width: 25%;
}
#search-input .search-option button {
    cursor: pointer;
    background-color: #555;
    color: white;
    border: 0;
    border-radius: 25px;
    padding: 5px 10px;
    font-size: 28px;
    margin: 5px;
}
#search-input .input-option {
    display: flex;
    position: relative;
    width: 60%;
}
#search-input .input-option .text-input {
    width: 500px;
    border: 0;
    padding: 4px 10px;
    font-size: medium;
    font-weight: 500;
    border-bottom-left-radius: 18px;
    border-top-left-radius: 18px;
    color: whitesmoke;
    background-color: #555;
}
#search-input .input-option button {
    cursor: pointer;
    color: white;
    font-size: 32px;
    border: 0px;
    width: 70px;
    border-bottom-right-radius: 16px;
    border-top-right-radius: 15px;
    background-color: #555;
}
#search-input .search-option .map-btn.clicked,
#search-input .search-option .list-btn.clicked,
#search-input .search-option .local-btn.clicked {
    background-color: cornflowerblue;
    transition: 0.2s;
}
/* BARRA DE OPÇÕES DE PERFIL */
#profile-options {
    position: relative;
    display: flex;
    align-items: center;
    width: 15%;
}
#profile-options button {
    cursor: pointer;
    background-color: #555;
    color: white;
    border: 0;
    border-radius: 25px;
    padding: 5px 10px;
    font-size: 28px;
    margin: 10px;
}
#profile-options .fav-btn.clicked,
#profile-options .notif-btn.clicked,
#profile-options .settings-btn.clicked,
#profile-options .home-btn.clicked {
    background-color: cornflowerblue;
    transition: 0.2s;
}
/* ESTILIZAÇÃO DO MENU DE FILTROS SLIDER*/
#filters-menu {
    background-color:#224;
    width: 280px;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: -280px;
    transition: 0.4s;
}
.filters-title {
    display: flex;
}
#filters-menu ul {
    list-style: none;
    padding: 0px;
    font-weight: bold;
}
#filters-menu ul li {
    line-height: 50px;
    color: white;
    background-color:#225;
    border-bottom: 1px solid whitesmoke;
}
#filters-menu ul li a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 16px;
    padding-left: 50px;
    display: block;
    align-items: center;
}
#filters-menu ul li span {
    font-size: 24px;
    position: absolute;
    padding: 10px;
    transition: 0.3s;
}
#filters-menu ul ul {
    display: none;
}
#filters-menu ul ul li a {
    background-color: #224;
    padding-left: 10px;
    font-size: 14px;
    display: block;
}
/* GIRO DA SETA DOS FILTROS */
#filters-menu ul li a span {
    font-size: 24px;
    position: absolute;
    right: 15px;
    padding: 10px;
    transition: 0.3s;
}
#filters-menu ul li a span.turn {
    transform: rotate(90deg);
}
#filters-menu ul li:hover,
#filters-menu ul li a:hover {
    background-color: cornflowerblue;
    color: black;
}
/* PARA EXPANDIR OS SUB-FILTROS */
#filters-menu.expand {
    left: 0px;
}
#filters-menu ul .sub-filter-item1.expand {
    display: block;
}
#filters-menu ul .sub-filter-item2.expand {
    display: block;
}
#filters-menu ul .sub-filter-item3.expand {
    display: block;
}
#filters-menu ul .sub-filter-item4.expand {
    display: block;
}
#filters-menu ul .sub-filter-item5.expand {
    display: block;
}
#filters-menu ul .sub-filter-item6.expand {
    display: block;
}
#filters-menu ul .sub-filter-item7.expand {
    display: block;
}

.navigation {
    width: 100vw;
    height: 100vh;
}