* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}
html,
body {
    background-color: #555;
}
/* ANIMAÇÃO DE CLIQUE DO BOTÃO */
#search-input .search-option .map-btn.clicked,
#search-input .search-option .list-btn.clicked,
#search-input .search-option .local-btn.clicked {
    background-color: cornflowerblue;
    transition: 0.2s;
}
#profile-options .fav-btn.clicked,
#profile-options .notif-btn.clicked,
#profile-options .settings-btn.clicked,
#profile-options .home-btn.clicked {
    background-color: cornflowerblue;
    transition: 0.2s;
}
/* GIRO DA SETA DOS FILTROS */
#filters-menu ul li a span.turn {
    transform: rotate(90deg);
    transition: 0.2s;
}
/* PARA EXPANDIR OS SUB-FILTROS */
#filters-menu.expand {
    left: 0px;
}
#filters-menu ul .sub-filter-item1.expand {
    display: block;
}
#filters-menu ul .sub-filter-item2.expand {
    display: block;
}
#filters-menu ul .sub-filter-item3.expand {
    display: block;
}
#filters-menu ul .sub-filter-item4.expand {
    display: block;
}
#filters-menu ul .sub-filter-item5.expand {
    display: block;
}
#filters-menu ul .sub-filter-item6.expand {
    display: block;
}
#filters-menu ul .sub-filter-item7.expand {
    display: block;
}