.upper-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: whitesmoke;
    border-top: 1px solid whitesmoke;
}
.upper-container >img {
    margin: 30px;
    padding: 0px;
    width: 160px;
    border: 15px solid whitesmoke;
    border-radius: 50%;
}
.landing-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    padding-top: 50px;
    padding-bottom: 50px;
}
.propaganda {
    margin: 5px;
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;
}
.propaganda >img {
    width: 250px;
}
.sign-container {
    margin: 5px;
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;
}
.sign-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 160px;
    background-color: #444;
    margin: 15px;
    border: 0px;
    padding: 0px;
    font-size: 20px;
    color: whitesmoke;
    text-decoration: none;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid whitesmoke;
    margin-top: 100px;
}
.footer a {
    color: #333;
    margin: 5px;
}